<mat-card class="card-about">
    <mat-card-header>
        <mat-card-title>About</mat-card-title>
        <mat-card-subtitle>MC Coaching Tecnológico</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus non consectetur nisi delectus voluptates officiis vero, facere dicta consequuntur sapiente quia vitae asperiores natus, quasi voluptatibus ullam molestias veniam! Tempore tenetur repudiandae maiores ut? Accusamus tempore quaerat provident. Distinctio animi minus impedit possimus placeat. Aliquid tempora delectus ex commodi? Alias accusantium perferendis dignissimos dicta eaque recusandae deleniti quisquam assumenda veritatis deserunt, qui distinctio corrupti. Sit voluptatibus quibusdam atque voluptatum numquam sint exercitationem tempora maxime nisi ipsum! Placeat quam eveniet maxime quisquam iure nulla facere praesentium. Aspernatur rem vero numquam eius, quod quas minus. Enim maiores quae corporis labore. Est! </p>    
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus non consectetur nisi delectus voluptates officiis vero, facere dicta consequuntur sapiente quia vitae asperiores natus, quasi voluptatibus ullam molestias veniam! Tempore tenetur repudiandae maiores ut? Accusamus tempore quaerat provident. Distinctio animi minus impedit possimus placeat. Aliquid tempora delectus ex commodi? Alias accusantium perferendis dignissimos dicta eaque recusandae deleniti quisquam assumenda veritatis deserunt, qui distinctio corrupti. Sit voluptatibus quibusdam atque voluptatum numquam sint exercitationem tempora maxime nisi ipsum! Placeat quam eveniet maxime quisquam iure nulla facere praesentium. Aspernatur rem vero numquam eius, quod quas minus. Enim maiores quae corporis labore. Est! </p>    
    </mat-card-content>
    
    <mat-card-footer>
        MC Coaching Tecnológico 2020
    </mat-card-footer>
</mat-card>